@font-face {
    font-family: 'silk-serif';
    src: url('silkserif.ttf') format('truetype');
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Plain light';
    color:#fff;
} 

html,body{
    height:100%;
    width:100%;
}
html{
    overflow-x: hidden;
}
#crsr{
    height:2.4vw;
    width:2.4vw;
    border-radius:50%;
    /* background-color: #fff; */
    border: 1px solid #f1dbdb;
    position:fixed;
    z-index:999;
    mix-blend-mode:difference;
    transform:translate(-50%,-50%);
}

#loader{
    height:100%;
    width:100%;
    position:fixed;
    z-index:999;
    background-color: #0B0B0B;
    padding:25vh 10vw;
}

.line{
    /* background-color: red; */
    height:fit-content;
    overflow: hidden;
    display:flex;
    align-content:center;
    justify-content:flex-start;
    gap:3vw;
}

#line1-part1{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:1vw;
}
#line1-part1 h5, #line1-part1 h6{
    font-size:3vw;
    font-weight:100;
    font-family:'silk-serif';
}
#line1-part1 h5{
    /* background-color: red; */
    width:5vw;
    text-align: right;
}
.line h1{
    font-size:6.5vw;
    text-transform: uppercase;
    font-weight:900;
}
.line h2{
    font-size:6.5vw;
    text-transform: uppercase;
    font-weight:900;
    opacity:0;
    animation: anime 1s infinite;
}

@keyframes anime {
    0%{
        font-family:'plain light';
        -webkit-text-stroke:1px #fff;
        color:#fff;
        font-weight:500;
        opacity:1;
    }
    48%{
        font-family:'plain light';
        -webkit-text-stroke:1px #fff;
        color:#fff;
        font-weight:500;
        opacity:0;
    }
    50%{
        font-family:'silk-serif';
        -webkit-text-stroke:1px #fff;
        font-weight:500;
        color:transparent;
        opacity:1;
    }
    100%{
        font-family:'silk-serif';
        -webkit-text-stroke:1px #fff;
        font-weight:500;
        color:transparent;
        opacity:0;
    }
}

#main{
    position:relative;
    background-color: #030303;
}

#page1{
    height:100vh;
    width:100%;
    background-color: #151515;
}

#page1 #nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:2.3vw 4.5vw;
}
#nav-part2{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:3vw;
}
#nav-part2 h4{
    font-size:1vw;
    font-weight:500;
    cursor: pointer;
}

.hero{
    /* background-color: red; */
    width:71%;
    margin-left:28%;
    height:fit-content;
    overflow: hidden;
    display:flex;
    align-items:center;
    position:relative;
    z-index:999;
}
.hero:nth-child(2){
    margin-top:20vh;
}
.hero h1{
    font-size:7.3vw;
    font-weight:600;
    text-transform: uppercase;
    line-height:7.4vw;

}

.hero h2{
    font-size:7.3vw;
    font-weight:600;
    text-transform: uppercase;
    line-height:7.1vw;
    border-bottom: 0.5vw solid #fff;
    /* padding-bottom: 0.2vw; */
    /* transition: all ease 0.3s; */
}

.hero h2:hover{
    -webkit-text-stroke: 2px #fff;
    color:transparent;
    font-weight:600;
    border-bottom: 0.5vw solid #4ecb1800;
}

#page2{
    height:100vh;
    width:100%;
    padding-top:17vh;
    position:relative;
}

#video-container{
    height:65vh;
    width:70vw;
    position:relative;
    left:24.5%;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
}

#video-container img{
    position:absolute;
    height:100%;
    width:100%;
    object-fit: cover;
    top:0;
}

#video-container video{
    height:100%;
    width:100%;
    object-fit:cover;
}

#video-cursor{
    background-color: #FFA63D;
    height:8.5vw;
    width:8.5vw;
    border-radius:50%;
    position:absolute;
    top:-10%;
    left:80%;
    z-index:999;
    display:flex;
    align-items:center;
    justify-content:center;

}

#video-cursor i{
    font-size:2vw;

}

#page3{
    min-height:100vh;
    width:100%;
    background-color: rgb(47, 44, 44);
    position:relative;
}

#page4{
    min-height:100vh;
    width:100%;
    /* background-color: rgb(47, 44, 44); */
    position:relative;
    padding-top:5vh;

}

#page4-content{
    width:72vw;
    position:relative;
    margin-left:28%;
}

#page4-content h1{
    font-size:7vw;
    text-transform:uppercase;
}
#page4-content .underline{
    margin-top:4vw;
    margin-bottom:3vw;
    height: 1px;
    width:90%;
    background-color: #fff;
}

#page4-content>p{
    font-size:2.25vw;
    width:50%;
    margin-bottom:3.6vw;
}
#page4-flex{
    display:flex;
}
#page4-flex img{
    width:45%;

}
#page4-flex p{
    font-size:1.1vw;
    margin-left:2.2vw;
    line-height: 1.5vw;
}
#page4-blue-div{
    background-color: #3F7DF4;
    width:33vw;
    padding:3vw 1vw;
    position:relative;
    margin-top: -33vh;
    margin-left:23vw;
}

.blue-div-elem{
    display:flex;
    align-items:center;
    justify-content: space-between;
    /* background-color: red; */
    padding:1.2vw 0;
    border-bottom: 1px solid #ffffffd8;
    margin-bottom:1.4vw;
}
.blue-div-elem{
    /* height:100%; */
    width:100%;
    /* gap:5vw; */
    /* margin-bottom:1.4vw; */

}
.blue-div-elem h4{
    font-size:1.4vw;
    margin-bottom:1.4vw;
}
.blue-div-elem p{
    width:40%;
    font-size:0.5;
    margin-bottom:1.4vw;
}